<% if resource.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-info">
      <h2 class="fs-4 fw-bold">
        <%= I18n.t("errors.messages.not_saved",
                  count: resource.errors.count,
                  resource: resource.class.model_name.human.downcase)
        %>
      </h2>
    </div>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="alert alert-danger fw-bold"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
